.btn-h1-spacing {
  margin-top: 18px;
}

.form-spacing-top {
  margin-top: 30px;
}

.charges-panel {
  height: 250px;
  overflow-y: scroll;
}

.payments-panel {
  height: 250px;
  overflow-y: scroll;
}

.has_error {
  color: red;
}
.has_success {
  color: green;
}
